html {
    background-image: url(under_water.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 100%;
    background-size: cover;
	background-attachment: fixed;
}

body {
	color: darkorange;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	font-weight: bold;
	color: white;
}

h2 {
	text-decoration: underline;
	font-style: italic;
	color: green;
}

a {
	color: green;
}

a:hover {
	background: green;
	color: white;
}

img {
	border-width: 5px;
	border-style: solid;
	border-color: green;
	float: left;
	width: 50%;
	max-width: 150px;
	margin-right: 10px;
}

body {
	line-height: 1.5;
}

h2 {
	letter-spacing: 5px;
	text-transform: uppercase;
}

li {
	color: blue;
}

.land {
	color: brown;
}

#jerk {
	font-weight: bold;
}

h1 {
	width: 90%;
	margin: 50px auto 20px;
	text-align: center;
}

.intro {
	width: 90%;
	margin: auto;
	background: rgba(255,255,255,.8);
	padding: 20px;
}

@media screen and (min-width: 500px) {
	h1 {
		width: 90%;
		margin: 20px 50px;
		text-align: left;
	}

	.intro {
		width: 50%;
		max-width: 500px;
		margin: 0 50px;
		clear: both;
	}
}


@media screen and (min-width: 500px) {
	section {
		width: 50%;
		max-width: 500px;
		background: rgba(0,0,0,.8);
		padding: 20px;
		margin: 0 50px;
	}
}


/* copy from style.css in responsive */

nav {
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,.8);
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav button {
	width: 100%;
	background: none;
	padding: 10px 0;
	display: block;
	color: white;
	border: none;
	cursor: pointer;
}

nav button:hover {
	background: white;
	color: black;
}


nav .display_toggle {
	display: block;
}

nav ul{
	display: none;
}

nav.active ul{
    display: block;
}


@media screen and (min-width: 500px) {

	nav {
		position: relative;
		overflow: hidden;
		float: left;
		width: auto;
		margin: 0 50px 20px;
	}

	nav li {
		float: left;
	}

	nav button {
		padding: 20px;
	}

	nav ul{
		display: block;
	}

	nav .display_toggle {
		display: none;
	}
}

/* copy the codes from the previous example to set the default look */


section
{
	display: none;
}



.about_state .about_section
{
	display: block;
}

.work_state .work_section
{
	display: block;
}


.contact_state .contact_section
{
	display: block;
}

.future_state  .future_section
{
	display: block;
}


/* add this to deal with the menu while in mobile display */
section
{
	position: absolute;
	top: 0;
	background: rgba(0,0,0,.8);
	padding: 20px;
}


@media screen and (min-width: 500px)
{
	section
	{
		width: 75%;
		right: 0;
	}
}

























